.container {
  padding: 24px;
  height: 100%;
  overflow-y: auto;
}

.title {
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 500;
}

.form {
  max-width: 600px;
}

.actions {
  margin-top: 24px;
  display: flex;
  gap: 12px;
}
